/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	font-size: 16px;
}
body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}
/* ------------------*/
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
[class*="__container"] {
	max-width: 1920px;
	margin: 0px auto;
	padding: 0px 15px;
}
 /*------------------ */
 .main {
	flex: 1 1 auto;
}
/*TEXT*/
.title{
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 700;
	color: #000;
}
.subtitle{
	font-size: 1.5rem;
	line-height: 1.75rem;
	font-weight: 700;
	color: #fff;
}
.text{
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 400;
	color: #676979;
}
.subtext{
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: 400;
	color: #fff;
}
.label{
	font-size: 1rem;
	letter-spacing: 0.2em;
	color: #676979;
}
.blog-label{
	font-size: 0.75rem;
	line-height: 0.8375rem;
	font-weight: 400;
	letter-spacing: 0.2em;
	color: #676979;
}
@media (max-width: 768px){
	.heading, .subtitle, .text{
		font-size: 110%;
	}
}
/*..BUTTONS..................*/
.button-name{
	text-align: center;
	display: block;
	width: 130.56px;
	height: 48px;
	font-size: 0.875rem;
	padding: 16px 21px;
	background-color: #fff;
	color: #50AA57;
	border-radius: 1000px;
	box-shadow: 0px 32px 64px -4px rgba(0, 0, 0, 0.12), 0px 12px 24px -2px rgba(0, 0, 0, 0.06);
}
.button-name:hover{
	transform: scale(1.1, 1.1);
}
/* ШАПКА */
.header {
	position: fixed;
	width: 100%;
	z-index: 50;
	background-color: #fff;
}
.header__container{
	padding: 0px 15px;
	display: flex;
	align-content: space-between;
	min-height: 64px;
	align-items: center;
}
.header__logo {
	position: relative;
	z-index: 5;
	padding-left: 160px;
}
.header__logo img{
	height: 56px;
	padding: 4px 0px;
}
.header__menu {
	flex: 1 1 auto;
}
.header__butt {
	position: relative;
	z-index: 5;
	flex: 0 0 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/* --------------------------- */
.menu {
	display: flex;
	justify-content: flex-end;
}
.menu__list {
	display: flex;
}
.menu__item {
	margin: 0px 40px 0px 0px;
}
.menu__link {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	color: #006CA7;
	letter-spacing: 0.0625rem;
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 991.98px) {
	.header__logo{
		padding-left: 0px;
	}
}
@media (max-width: 767.98px) {
	.header__logo{
		padding-left: 0px;
	}
	.header__butt {
		flex: 0 0 30px;
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #fff;
		padding: 90px 15px 30px 15px;
		transition: left 0.3s ease 0s;
	}
	.header:target .menu__body {
		left: 0;
	}
	.header:target .menu__body:before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		height: 80px;
		width: 100%;
		background-color: #fff;
	}
	.menu__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__item {
		margin: 0px 0px 25px 0px;
	}
	.menu__item:last-child {
		margin-bottom: 0;
	}
	.menu__link {
		/* color: #fff; */
		font-size: 20px;
	}
}
/*burger*/
.close-icon-menu,
.icon-menu {
	display: none;
}
@media (max-width: 767.98px) {
	.icon-menu {
		display: flex;
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 0px 0px 20px;
	}
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		background-color: #006CA7;
		height: 2px;
	}
	.icon-menu span {
		height: 2px;
		background-color: #006CA7;
	}

	.close-icon-menu {
		flex: 0 0 30px;
		height: 30px;
		position: relative;
		margin: 0px 0px 0px 20px;
	}
	.close-icon-menu::before,
	.close-icon-menu::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		background-color: #000;
		height: 2px;
	}
	.close-icon-menu::before {
		transform: rotate(45deg);
	}
	.close-icon-menu::after {
		transform: rotate(-45deg);
	}
	.header:target .icon-menu {
		display: none;
	}
	.header:target .close-icon-menu {
		display: flex;
	}
}
/*.............................................MAIN PAGE...............................................*/
/*EDGE GROUP*/
.edge-group__container{
	height: auto;
	width: 100%;
	background-image: url(.//img/bg_main.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin: auto;

}
.edge-group__content{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0px 0px 321px 0px;
}
.edge-group__heading{
	width: 100%;
	padding: 180px 0px 32px 0px;
	font-size: 7.75rem;	
	font-weight: 700;
	line-height: 8.125rem;
	color: #006CA7;
}
.edge-group__subheading{
	width: 40%;
	margin: auto;
	text-align: center;
	font-size: 2.25rem;
	line-height: 3.0625rem;
	font-weight: 400;
	color: #006CA7;
}
@media (max-width: 1024px) {
	.edge-group__content{
		width: 80%;
		padding: 0px 20px 321px 126px;
	}
	.edge-group__heading{
		font-size: 6.25rem;	
		line-height: 5.375rem;
	}
	.edge-group__subheading{
		width: 100%;
	}
}
@media (max-width: 767.98px) {
	.edge-group__content{
		width: 100%;
		padding: 0px 0px 321px 5px;
	}
	.edge-group__heading{
		font-size: 3.4375rem;	
		line-height: 2.5625rem;
	}
	.edge-group__subheading{
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
}
/*MISSION*/
.mission__content{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.mission-text{
	flex: 0 1 50%;
	text-align: start;
	padding: 0px 0px 80px 0px;
}
.mission-svg{
	flex: 0 1 50%;
}
.mission-svg img{
	width: 100%;
}
.mission-text > .label{
	padding: 54px 0px 0px 0px;
}
.mission__title{
	width: 100%;
	padding: 24px 0px 16px 0px;
}
.mission__text{
    width: 100%;
	padding: 0px 0px 16px 0px;
}
.mission-btn{
	padding: 16px 0px 32px 0px;
}
.mission-btn .button-name{
	background-color: #006CA7;
	color: #fff;
}
@media (max-width: 1024px) {
	.mission__content{
		width: 98%;
		background-color: #006CA7;
		margin: 0px auto 144px;
		border-radius: 32px;
	}
	.mission-text{
		flex: 0 1 80%;
		padding: 0px 0px 80px 110px;
	}
	.mission-text > .label{
		color: #fff;
	}
	.mission__title{
		color: #fff;
	}
	.mission__text{
		color: #fff;
	}
	.mission-svg{
		display: none;
	}
	.mission-btn .button-name{
		background-color: #fff;
		color: #50AA57;
	}
}
@media (max-width: 767.98px) {
	.mission__container{
		padding: 0px;
	}
	.mission__content{
		width: 100%;
		border-radius: 0px;
		margin: 0px auto;
		padding: 0px 15px;
	}
	.mission-text{
		flex: 0 1 100%;
		padding: 0px 0px 80px 0px;
	}
}
/*SERVICES*/
.services-classification__container{
	background-color: #E8F1F2;
}
.services__content{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}
.services__content .label{
	padding: 54px 0px 0px 0px;
}
.services__title{
	padding: 24px 15px 16px 0px; 
}
.services__text{
	width: 50%;
	padding: 8px 0px 0px 0px;
}
.services-btn{
	padding: 8px 0px 24px 0px;
}
.services__blocks{
	padding: 0px 15px 54px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #006CA7;
	column-gap: 8px;
	row-gap: 8px;
	height: auto;
  }
.services__block{
	flex: 0 1 30%;
	color: #50AA57;
	border: 1px solid #50AA57;
	border-radius: 10px;
	height: auto;
	padding: 32px;
}
.block__subtitle{
	padding: 0px 0px 0px 0px;
	color: #50AA57;
}
.services__block:hover{
	background-color: #b5e4b9;
	color: #fff;
}
.block__svg{
	width: 100%;
	padding: 20px 0px 0px 120px;

}
.block__svg img{
	object-fit: contain;
}
@media (max-width: 1236px){
	.services__content{
		width: 80%;
	}
}
@media (max-width: 1024px) {
	.services-classification__container{
		margin: 0px;
	}
	.services__content{
		width: 90%;
		margin: 0px 0px 0px 110px;
	}
	.services__blocks{
		width: 100%;
	  }
	.services__block{
		flex: 0 1 47%;
	}
	.services__text{
		width: 90%;
	}
}
@media (max-width: 767.98px){
	.services__content{
		width: 100%;
		flex-direction: column;
		margin: auto;
	}
	.services__blocks{
		flex-direction: column;
		width: 100%;
	  }
	  .services__block{
		flex: 0 1 60%;
		margin: auto;
	}
	  .services__text{
		width: 100%;
	}
}
/*MANAGMENT*/
.managment__container{
	width: 100%;
	padding: 0px;
}
.managment__content{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 180px auto;
	height: auto;
	background-color: #006CA7;
	background-image: url(./img/flower1.svg), url(./img/flower2.svg), url(./img/flower3.svg);
	background-repeat: no-repeat;
	background-position: bottom left, bottom center, bottom right;
	border-radius: 32px;
}
.managment__text{
	padding: 68px 0px 0px 110px;
	flex: 0 1 auto;
	width: 50%;
	color: #fff;
}
.managment__text > p{
	padding: 20px 0px 0px 0px;
}
.managment-btn{
	padding: 30px 0px 220px 110px;
}
@media (max-width: 1024px){
	.managment__content{
		width: 98%;
	}
	.managment__text{
		width: 70%;
	}
}
@media (max-width: 767.98px){
	.managment__content{
		width: 100%;
		margin: 0px;
		padding: 0px 15px;
		background-color: #006CA7;
		background-image: url(./img/flower1.svg), url(./img/flower3.svg);
		background-repeat: no-repeat;
		background-position: bottom left, bottom right;
		border-radius: 0px;
	}
	.managment__text{
		width: 100%;
		padding: 68px 0px 0px 0px;
	}
	.managment-btn{
		padding: 30px 0px 220px 5px;
	}
}
/*INDUSTRIES*/
.industries-served{
	width: 80%;
	display: flex;
	flex-direction: column;
	height: auto;
}
.industries__title{
	padding: 24px 0px 20px 0px;
}
.industries__text{
	flex: 0 1 auto;
	padding: 0px 0px 24px 0px;
}
.industries__content{
	display: flex;
	flex-direction: column;
	height: 100%;
	color: #fff;
	width: 60%;
	margin: auto;
  }
.industries-box{
	margin: auto;
	width: 100%;
	background-image: radial-gradient(#90C35D 3%, #50AA57 97%);
	background-repeat: no-repeat;
	border-radius: 36px;
	box-shadow: 0px 32px 64px -4px rgba(0, 0, 0, 0.12), 0px 12px 24px -2px rgba(0, 0, 0, 0.06);
  }
.industries__classes{
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.industries__class{
	flex: 0 1 33.333%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.class__image{
	width: 110px;
	height: 110px;
	margin: auto;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.svg1{
	background-image: url(./img/energy.svg);
}
.svg2{
	background-image: url(./img/waste.svg);
}
.svg3{
	background-image: url(./img/forest.svg);
}
.svg4{
	background-image: url(./img/transportation.svg);
}
.svg5{
	background-image: url(./img/manufactoring.svg);
}
.svg6{
	background-image: url(./img/mining.svg);
}
.svg7{
	background-image: url(./img/agriculture.svg);
}
.svg8{
	background-image: url(./img/constructing.svg);
}
.svg9{
	background-image: url(./img/retail.svg);
}
.class__text{
	margin: auto;
	text-align: center;
	padding: 5px;
}
@media (max-width: 1236px){
	.industries__content{
		width: 90%;
		padding: 0px 15px;
	}
}
@media (max-width: 1024px){
	.industries-served{
		width: 80%;
	}
	.industries__class{
		padding: 64px;
	}

}
@media (max-width: 767.98px){
	.industries__container{
		padding: 64px 0px;
	}
	.industries__content{
		width: 100%;
	}
	.industries-served{
		width: 100%;
		text-align: start;
		flex-direction: column;
	}
	.industries__classes{
		width: 98%;
		margin: auto;
	}
	.industries__class{
		margin: auto;
	}
}

/*BUSINESS*/
.bussiness__container{
	width: 100%;
	background-color: #E8F1F2;
	margin: 80px auto;
}
.bussiness__content{
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
}
.content-text{
	flex: 0 1 50%;
	flex-direction: column;
}
.content-text .label{
	padding: 59.5px 0px 0px 0px;
}
.bussiness__title{
	padding: 24px 0px 16px 0px;
}
.bussiness__text{
	width: 100%;
	padding: 0px 0px 113.5px 0px;
}
.bussiness__text > p{
	padding: 20px 0px 0px 0px;
}
.content-svg{
	flex: 0 1 50%;
	margin: auto;
}
.content-svg img{
	object-fit: contain;
}

@media (max-width: 1200px){
	.bussiness__content{
		width: 80%;
		margin: auto;
		flex-direction: column;
	}
	.bussiness__text{
		flex: 0 1 100%;
		padding: 0px 0px 0px 0px;
	}
	.content-text{
		width: 100%;
		text-align: center;
	}
	.content-svg{
		flex: 0 1 100%;
	}
	.content-svg img{
		width: 100%;
	}
}
@media (max-width: 767.98px){
	.bussiness__content{
		width: 100%;
		margin: auto;
		flex-direction: column;
	}
}

/*Climate change*/
.climate-change{
	min-width: 0;
}
.climate-change__content{
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: auto;
}
.climate-change__title{
	margin: auto;
	width: 60%;
	padding: 24px 0px 16px 0px;
	text-align: center;
}
.climate-change__text{
	margin: auto;
	width: 60%;
	text-align: center;
	padding: 0px 0px 16px 0px;
}
.climate-change__gallery{

}
/*---------------------------------------------SLIDER-----------------------------------------------------------*/
/* ------------------ */
.swiper-container1{
	position: relative;
}
.navigation{
	width: 90%;
	margin: auto;
	top: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	left: 5%;
	z-index: 30;
}
.previous{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.next{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.previous,
.next img{
	object-fit: contain;
}
.swiper-container1 .image-slider{
	padding: 30px 0 30px 0;
	min-height: 0;
	position: relative;
	height: auto;
}
.swiper-container1 .image-slider__slide {
	height: 100%;
	border-radius: 32px;
}
.swiper-container1 .image-slider__image {
	text-align: start;
	color: #fff;
}

.swiper-container1 .image-slider__image img {
	object-fit: contain;
	margin: 100px 0px 5px 34px;
}
.climate-change__subtitle{
	width: 100%;
	color: #fff;
	padding: 16px 64px 0px 34px;
}
.climate-change__subtext{
	width: 100%;
	color: #fff;
	padding: 16px 64px 81px 34px;
}
.swiper-slide1{
	background-image: url(.//img/slide1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.swiper-slide2{
	background-image: url(.//img/slide2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.swiper-slide3{
	background-image: url(.//img/slide3.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.swiper-slide4{
	background-image: url(.//img/slide4.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.swiper-slide5{
	background-image: url(.//img/slide5.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.swiper-slide6{
	background-image: url(.//img/slide6.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.swiper-slide7{
	background-image: url(.//img/slide7.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.swiper-container1 .swiper-slide .swiper-slide-active{
	transform: scale(1) !important;
	opacity: 1 !important;
	box-shadow: 0px 32px 64px -4px rgba(0, 0, 0, 0.12), 0px 12px 24px -2px rgba(0, 0, 0, 0.06);
}
.swiper-container1 .swiper-backface-hidden .swiper-slide{
	transform: scale(0.84) translateZ(0);
}

/* Стрелки */

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after{
	color: grey;
	font-size: 80px;
}
@media (max-width: 1024px){
.navigation{
		width: 95%;
		left: 0;
	}
	.climate-change__title{
		width: 100%;
	}
	.climate-change__text{
		width: 100%;
	}
}
/*---------------------------------------------SLIDER-----------------------------------------------------------*/
/*BLOG*/
.blog__container{
	height: auto;
}
.blog__content{
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 180px auto;
}
.blog__content .label{
	padding: 59px 0px 0px 0px;
}
.blog__title{
	padding: 24px 0px 16px 0px;
	width: 50%;
}
.blog__posts{
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -8.5px 48px 0px;
}
.blog__post{
	flex: 0 1 48%;
	height: auto;
	margin: 5px;
	padding: 0 8.5px;
	border: 1px solid #DEDFE3;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
}
.post-image{
	padding: 16px 12px 16px 16px;
}
.post-image img{
	object-fit: fill;
}
.post-text .blog-label{
	padding: 15px 0px 9px 0px;
	font-size: 12px;
}
.post-text{
	width: 50%;
	padding: 16px 16px 62px 12px;
}
.post__subtitle{
	color: #000;
}
.blog-btn{
	color: #fff;
	margin: auto;
	background-color: #50AA57;
}

@media (max-width: 1024px){
	.blog__content{
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 100%;
		padding: 0px 110px;
	}
	.blog__title{
		width: 80%;
	}
	.blog__posts{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.blog__post{
		flex: 0 1 auto;
	}
}
@media (max-width: 767.98px){
	.blog__content{
		padding: 0px 5px;
	}
	.blog__title{
		width: 100%;
	}
	.blog__post{
		flex-direction: column;
	}
	.post-text{
		width: 100%;
	}
	}
/*FEEDBACK*/
.feedback__container{
	margin: 100px auto 0px;
	height: 100%;
}
.feedback__content{
	display: flex;
	flex-direction: row;
	width: 1106px;
	height: auto;
	margin: auto;
	background-image: url(.//img/bg_pc-feedback.svg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 32px;
}
.feedback-question{
	display: flex;
	flex-direction: column;
}
.feedback__title{
	padding: 179px 0px 16px 64px;
	font-size: 48px;
	font-weight: 700;
	color: #fff;
	line-height: 56px;
}
.feedback__text{
	padding: 0px 0px 32px 64px;
	color: #fff;
}
.feedback-form{
	margin: 32px 64px 32px 0px;
}
form{
	width: 60%;
	background-color: #fff;
	border-radius: 15px;
	padding: 48px;
	width: 100%;
}
.feedback-form__content{
	display: flex;
	flex-direction: column;
	margin: auto;	
}
.contact-us__title{
	font-size: 47px;
	line-height: 59px;
	color: #50AA57;
	text-align: start;
}
input{
	flex: 1 1 50%;
	height: 54px;
	border: 1px solid #50AA57;
	border-radius: 8px;
}
.inputs-names{
	color: #50AA57;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	margin: 0px -8px;
}
.inputs-contacts{
	color: #50AA57;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	margin: 0px -8px;
}
.input{
	width: 100%;
	padding: 16px 8px;
}
.message{
	color: #50AA57;
}
textarea{
	color: #50AA57;
	height: 140px;
	width: 100%;
	border: 1px solid #50AA57;
	border-radius: 8px;
}
.button-send{
	margin: auto;
	padding: 15px 0px;
}
input[type=submit]{
	background-color: #50AA57;
	width: 154.06px;
	height: 55.91px;
	border-radius: 1000px;
	border: none;
	color: white;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	cursor: pointer;
  }
  input[type=submit]:hover{
	transform: scale(1.1, 1.1);
  }
  @media (max-width: 1024px){
	.feedback__content{
		background-image: url(./img/bg_tablet_feedback.svg);
		border-radius: 90px;
		width: 98%;
		margin: auto;
		border-radius: 32px;
		flex-direction: column;
	}
	.feedback-question{
		width: 100%;
	}
	.feedback-form{
		padding: 32px 0px 32px 0px;
		width: 80%;
		margin: auto;
	}
	.feedback__title{
		width: 80%;
		margin: auto;
		padding: 32px 0px 32px 0px;
		text-align: center;
	}
	.feedback__text{
		width: 80%;
		margin: auto;
		padding: 0px 0px 32px 0px;
		text-align: center;
		color: #fff;
	}
	input{
		width: 100%;
	}
	.inputs-contacts{
		width: 100%;
	}
	.inputs-names{
		width: 100%;
	}
	.input{
		width: 100%;
	}
  }
  @media (max-width: 767.98px){
	.feedback__container{
		padding: 0px;
	}
	.feedback__content{
		background-image: none;
		background-color: #50AA57;
		width: 100%;
		border-radius: 0px;
	}
	input{
		width: 100%;
	}
	.inputs-names{
		flex-direction: column;
	}
	.inputs-contacts{
		flex-direction: column;
	}
  }
/*.............................................MAIN PAGE...............................................*/
/*.............................................SERVICES PAGE...........................................*/
/*Головне зображення*/
.hero-image__container{
	margin: 0px;
    background-image: url(.//img/services_hero-image.png);
	height: 990px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 49;
}
.heading2{
	width: 100%;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 45%;
	font-weight: 900;
	font-size: 9rem;
	line-height: 10.5625rem;
}
@media (max-width: 767.98px){
.heading2{
		font-size: 5.5625rem;
		line-height: 7.125rem;
	}
  }
  @media (max-width: 390px){
	.heading2{
		text-align: start;
	}
	.hero-heading{
		text-align: start;
	}
  }
/* Контейнер для бокового меню та послуг*/
.page-content__cell{
	min-width: 100%;
	display: flex;
	flex-direction: row;
}
.page-sections{
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
}
@media (max-width: 1360px){
	.page-sections{
		width: 100%;
	}
}
/* БОКОВЕ МЕНЮ */
.sidenav{
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
	width: 20%; /* Set the width of the sidebar */
	color: green;
	overflow: hidden; /* Disable horizontal scroll */
	padding: 125px 0px 125px 0px;
	height: 100%;
  }
  .fixed{
	position: fixed;
	left: 0;
	top: 0;
  }
  .fixed + .page-sections{
	margin-left: 20%;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sidenav__list {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 53px 27.6% 64px 14.9%;
	height: auto;
}
.sidenav__item {
	margin: 5px;
	padding: 14.5px 0px 14.5px 0px;
	text-align: start;
}
.sidenav__link {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.25rem;
	color: #006CA7;

}
.sidenav a{
	display: block;
	padding: 9px 32px 9px 32px;
}
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover{
	background-color: #50AA57;
	color: #fff;
	box-shadow: 0px 12px 24px -2px rgba(0, 0, 0, 0.06);
	border-radius: 32px;
	transform: scale(1.05);
  }
  @media (max-width: 1358px){
	.sidenav__list{
		margin: 0% 10% 64px 0%;
	}
  }
  
  @media (max-width: 1024px){
	.sidenav{
		display: none;
	}
	.fixed + .page-sections{
		margin-left: 0%;
	  }
  }
  
  /* Style page content */
.provider{
	flex: 1 1 auto;
}
.provider__body{
	margin: 165px 0px 0px 0px
}
.provider__content{
	display: flex;
	flex-direction: column;
	color: black;
 }
.provider__title{
	padding: 0px 0px 24px 0px;
	width: 100%;
}
.provider__text{
	width: 60%;
	padding: 0px 0px 50px 0px;
}
@media (max-width: 1024px){
	.provider__content{
		margin: 88px 142px 134px 142px;
	 }
	 .provider__text{
		width: 100%;
	}
  }
@media (max-width: 767.98px){
	.provider-classification__body{
		margin: 56px 0px 0px 0px
	}
	.provider__content{
		margin: 0px 16px 56px 16px;
	 }
  }
/*FEASIBILITY*/
.feasibility-studies__body{
	margin: 58px 0px 0px 0px;
}
.feasibility-studies__content{
	display: flex;
	flex-direction: column;
	color: #50AA57;
  }
  .feasibility-studies__title{
	padding: 0px 0px 24px 0px;
	width: 100%;
  }
  .feasibility-studies__text{
	width: 60%;
	padding: 0px 0px 32px 0px;
  }
/* ВИДИ НАУК */
.studies-types{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.studies-svg{
	padding: 0px 0px 45px 0px;
	transform: translate(0%, 20%);
}
.studies-svg img{
	object-fit: contain;
}
.studies-types__column{
	display: flex;
	flex-direction: column;
	padding: 0px 0px 54px 14.6%;
}
.column__item{
	display: flex;
	flex-direction: column;
	padding: 0px 0px 88px 0px;
}
.column__item:first{
	padding: 0px 0px 0px 58px;
}
.item__subtitle{
	position: relative;
	color: #50AA57;
	padding: 0px 0px 0px 58px;
}
.item__subtitle::before{
	content: '';
	background-image: url(.//img/svg_more.svg);
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: -45%;
	left: 0;
	width: 58px;
	height: 58px;
	z-index: 20;
	}
.item__subtext{
	color: #676979;
	width: 70%;
	display: none;
	padding: 16px 0px 0px 58px;
	}
.show{
	display: block;
}
@media (max-width: 1024px){
	.feasibility-studies__body{
	}
	.feasibility-studies__content{
		margin: 0px 0px 0px 142px;
	 }
	 .feasibility-studies__text{
		width: 100%;
	}
	.item__subtext{
		width: 100%;
	}
	.studies-types{
		flex-direction: column;
	}
	.studies-svg{
		width: 100%;
		transform: translate(0%, 0%);
	}
	.studies-svg img{
		padding: 0px 0px 0px 15px;
	}
	.studies-types__column{
	padding: 0px 0px 54px 0px;
}
  }
  @media (max-width: 767.98px) {
	.feasibility-studies__body{
	}
	.feasibility-studies__content{
		margin: 0px 16px;
	 }
	 .studies-svg img{
		width: 50%;
  }
}
/*Project DEVELOPMENT*/
.project-development__body{
	margin: 58px 0px 0px 0px;
	padding: 0px 15px 0px 0px;
}
.project-development__content{
	display: flex;
	flex-direction: column;
	text-align: start;
	color: #006CA7;
  }
.project-development__title{
	padding: 0px 0px 24px 0px;
	width: 100%;
}
.project-development__text{
	padding: 0px 0px 32px 0px;
	width: 60%;
}
/* БЛОКИ Project development*/
.stage__blocks{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	height: auto;
	margin: 0px 0px 144px 0px;
	column-gap: 15px;
	row-gap: 15px;
}
.stage{
	flex: 1 1 30%;
	cursor: pointer;
	height: 303px;
	border-radius: 10px;
}
.stage__block{
	height: 100%;
	background-color: #006CA7;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
}
.block__content{
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 32px;
}
.stage:hover{
	transform: scale(1.05);
}
.hidden-block{
	height: 100%;
	display: none;
}
.block__title{
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #fff;
	padding: 0px 0px 44.85px 0px;
}
.block__subtitle2{
	flex: 0 0 100%;
	text-align: start;
}
.block__number{
	margin: 0px 0px 117px 0px;
}
.block__svg2{
	width: 170px;
	height: 170px;
}
.block__subtext{
	padding: 32px 32px 151px 32px;
	text-align: start;
	color: #212227;
	background-color: #E8F1F2;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0px 12px 24px -2px rgba(0, 0, 0, 0.06);
}
.block__svg img{
	object-fit: contain;
}
@media (max-width: 1024px) {
	.project-development__content{
		margin: 0px 142px 0px 142px;
	}
	.stage__blocks{
		width: 100%;
	}
	.project-development__text{
		width: 100%;
	}
	.stage{
		flex: 1 1 40%;
	}
	.stage:hover{
		transform: none;
	}
}
@media (max-width: 767.98px){
	.project-development__body{
		margin: 0px;
	}
	.project-development__content{
		margin: 0px 16px;
	}
	.stage__blocks{
		width: 100%;
		margin: 40px auto;
	}
	.stage{
		flex: 0 1 60%;
		margin: auto;
	}
}
/* IMPLEMENTATION */
.project-implementation{
	position: relative;
	right: 420px;
	bottom: 0px;
	background-color: #E8F1F2;
	height: auto;
}
.project-implementation__body{
	position: relative;
	left: 420px;
	top: 0px;
	background-color: #E8F1F2;
}
.project-implementation__content{
	width: 80%;
	display: flex;
	flex-direction: column;
	padding-right: 15px;
  }
.project-implementation__title{
	margin: 60px 0px 0px 0px;
	padding: 0px 0px 24px 0px;
	width: 100%;
}
.project-implementation__text{
	padding: 0px 0px 32px 0px;
	width: 60%;
}

/* БЛОКИ IMPLEMENTATION*/
.implementation__units{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0px -10px;
	padding: 0px 0px 40px 0px;
}
.implementation__unit{
	flex: 0 1 25%;
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
	height: auto;
}
.unit__photo{
	flex: 0 1 auto;
}
.unit__subtitle{
	padding: 24px 0px 16px 0px;
	flex: 0 1 auto;
	color: #006CA7;
}
.unit__subtext{
	flex: 0 1 auto;
	color: #676979;
	padding: 0px 0px 54px 0px;
}
.unit__photo img{
	width: 100%;
}
@media (max-width: 1024px) {
	.project-implementation__body{
		right: 0;
		bottom: 0;
	}
	.project-implementation__content{
		top: 0;
		left: 0;
		margin: 0px 0px 0px 142px;
	  }
	  .project-implementation__text{
		width: 100%;
	}
	.implementation__units{
		flex-wrap: wrap;
	}
	.implementation__unit{
		flex: 0 1 45%;
	}
	.unit__subtext{
		flex: 0 1 auto;
	}
}
@media (max-width: 767.98px){
	.project-implementation__content{
		margin: 0px 16px;
		width: 100%;
	  }
	}
@media (max-width: 390px){
	.implementation__unit{
		flex: 0 1 100%;
	}
	}

/* Verification  & Certification */
.verification__body{
	display: flex;
	margin: 144px 0px 72px 0px;
}
.verification__content{
	display: flex;
	flex-direction: column;
}
.verification__title{
	padding: 0px 0px 24px 0px;
	width: 100%;
}
.verification__text{
	padding: 0px 0px 32px 0px;
	width: 60%;
}
/* ВИДИ НАУК */
.verification-phases{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.verification-svg{
	padding: 0px 0px 45px 0px;
	transform: translate(0%, 20%);
}
.verification-svg img{
	object-fit: contain;
}
.verification-phases__column{
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0px 0px 54px 14.6%;
}
@media (max-width: 1024px){
	.verification__body{
		display: flex;
		margin: 56px 0px 0px 0px;
	}
	.verification__content{
		margin: 0px 0px 0px 142px;
	 }
	 .verification__text{
		width: 100%;
	}
	.verification-phases{
		flex-direction: column;
	}
	.verification-svg{
		width: 100%;
		transform: translate(0%, 0%);
	}
	.verification-svg img{
		padding: 0px 0px 0px 15px;
	}
  .verification-phases__column{
	padding: 0px 0px 54px 0px;
}
  }
  @media (max-width: 767.98px) {
	.verification__body{
		background-image: none;
	}
	.verification__content{
		margin: 0px 16px;
	 }
	 .verification-svg img{
		width: 50%;
  }
}

/*ASSESSEMENTS*/
.assessments__body{
	margin: 72px 0px 144px 0px;
}
.assessments__content{
	display: flex;
	flex-direction: column;
}
.assessments__title{
	padding: 0px 0px 24px 0px;
	width: 100%;
}
.assessments__text{
	padding: 0px 0px 36px 0px;
	width: 60%;
}
/*---SWIPER--------------- */
.swiper-container2{
	position: relative;
	overflow: hidden;
}
.navigation2{
	width: 90%;
	margin: auto;
	top: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	left: 5%;
	z-index: 30;
}
.previous2{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.next2{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.previous2,
.next2 img{
	object-fit: contain;
}
.swiper-container2 .image-slider__wrapper{
	padding: 30px 0 30px 0;
	min-height: 0;
	position: relative;
}
.swiper-container2 .image-slider__slide {
	border-radius: 32px;
	height: auto;
}
.swiper-container2 .image-slider__image {
	height: 100%;
	border-radius: 32px;
	text-align: start;
	box-shadow: 0px 12px 24px -2px rgba(0, 0, 0, 0.06);
}
.assessment-analysis__subtitle{
	padding: 64px 48px 16px 48px;
	color: #fff;
	width: 80%;
}
.assessment-analysis__subtext{
	padding: 0px 48px 64px 48px;
	color: #fff;
	width: 80%;
}
.image2_1{
	background-image: url(.//img/1asses.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.image2_2{
	background-image: url(.//img/2asses.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.image2_3{
	background-image: url(.//img/3asses.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.image2_4{
	background-image: url(.//img/4asses.png);
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 1024px){
	.assessments__content{
		margin: 0px 142px;
	}
	.assessments__text{
		width: 100%;
	}
	.navigation2{
		width: 100%;
		left: 0;
	}
	.swiper-container2{
		overflow: visible;
	}
}
@media (max-width: 767.98px){
	.assessments__body{
		margin: 0px 0px 56px 0px;
	}
	.assessments__content{
		margin: 0px 16px;
	}
}
/* SUSTAINABILITY */
.sustainability{
	background-color: #E8F1F2;
	height: auto;
	position: relative;
	right: 420px;
	bottom: 0px;

}
.sustainability__body{
	position: relative;
	left: 420px;
	top: 0px;
	background-color: #E8F1F2;
}
.sustainability__content{
	width: 80%;
	display: flex;
	flex-direction: column;
	padding-right: 15px;
  }
.sustainability__title{
	margin: 62px 0px 0px 0px;
	padding: 0px 0px 24px 0px;
	width: 100%;
}
.sustainability__text{
	padding: 0px 0px 32px 0px;
	width: 60%;
	color: #42434D;
}
  .sustainability__parts{
	display: flex;
	flex-direction: row;
	row-gap: 8px;
	flex-wrap: nowrap;
	width: 100%;
	height: auto;
	padding: 0px 0px 56px 0px;
  }
  .sustainability__part{
	display: block;
	flex: 0 1 20%;
	height: 390px;
	background-color: #50AA57;
	border-radius: 12px;
	margin: 8px;
  }
  .sustainability__part:hover{
	transform: scale(1.05);
  }
  .part-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  .part__subtitle{
	text-align: start;
	width: 100%;
	color: #fff;
	padding: 66px 25px 0px 25px;
  }
  .part-svg{
	padding: 18% 32px 64px 34%;
  }
  .part-svg img{
	object-fit: contain;
  }
  .hidden-subtext{
	display: none;
	height: 100%;
  }
  .hidden-subtext:hover{
	transform: scale(1.05);
  }
  .part__subtext{
	color: #fff;
	margin: 32px 32px 32px 32px;
	text-align: start;
  }
  @media (max-width: 1586px){
	.sustainability__parts{
		flex-wrap: wrap;
		column-gap: 8px;
	}
	.sustainability__part{
		flex: 0 1 40%;
	}
	.part__subtext{
		padding: 33px 0px 36px 0px;
	}
  }
  @media (max-width: 1024px){
	.sustainability__body{
		position: relative;
		right: 0px;
		bottom: 0px;
	}
	.sustainability__content{
		position: relative;
		left: 0px;
		top: 0px;
		margin: 0px 142px 0px 142px;
	  }
	.sustainability__text{
		width: 100%;
	}
	.hidden-subtext:hover{
		transform: none;
	  }
  }
@media (max-width: 767.98px){
		.sustainability__content{
			margin: 0px 16px;
		}
}
@media (max-width: 611px){
	.sustainability__parts{
		flex-direction: column;
	}
	.sustainability__part{
		flex: 0 1 100%;
	}
}
/*.............................................SERVICES PAGE...........................................*/
/*.............................................BLOG PAGE...........................................*/
/*SECTIONS*/
/*CREDITS*/
.credits__container{
    margin: 120px 0px 144px 0px;
}
.credits__content{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.credits-text{
	flex: 0 1 50%;
	text-align: start;
	padding: 0px 67px 0px 0px;
    color: #42434D;
}
.credits-svg{
	flex: 0 1 50%;
}
.credits-svg img{
	width: 100%;
}
.credits__title{
	width: 80%;
	padding: 24px 0px 16px 0px;
}
.credits__text{
    width: 80%;
	padding: 0px 0px 16px 0px;
}
@media (max-width: 1024px) {
	.credits__content{
		width: 98%;
		margin: 0px auto;
        flex-direction: column-reverse;
	}
	.credits-text{
		flex: 0 1 100%;
		padding: 0px 0px 80px 0px;
	}
    .credits__title{
        margin: auto;
        width: 80%;
        text-align: center;
    }
    .credits__text{
        margin: auto;
        width: 70%;
        text-align: center;
    }
}
@media (max-width: 767.98px) {
	.credits__container{
		padding: 0px;
	}
	.credits__content{
		width: 100%;
		border-radius: 0px;
		margin: 0px auto;
		padding: 0px 15px;
	}
	.credits-text{
		flex: 0 1 100%;
		padding: 0px 0px 56px 0px;
	}
    .credits-svg{
        flex: 0 1 100%;
    }
    .credits__title{
        width: 100%;
        text-align: start;
    }
    .credits__text{
        width: 100%;
        text-align: start;
    }
}
/*GOALS*/
.goals__container{
    margin: 0px auto 88px;
    width: 80%;
}
.goals__content{
    padding: 56px 0px;
    width: 100%;
    background-color: #E8F1F2;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
}
.goals__first-row{
    width: 75%;
    margin: 0px auto 48px;
}
.goals__first-row img{
    width: 100%;
}
.goals__second-row{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    row-gap: 8.5px;
    column-gap: 8.5px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.goal{
    flex: 0 1 16%;
}
.goal img{
    width: 100%;
}
@media (max-width: 1024px){
    .goals__first-row{
        width: 100%;
        padding: 0px 56px;
    }
    .goals__second-row{
        width: 100%;
        padding: 0px 56px;
    }
    .goal{
        flex: 0 1 25%;
    }

}
@media (max-width: 767.98px){
    .goals__container{
        width: 100%;
        padding: 0px;
    }
    .goals__content{
        border-radius: 0px;
    }
    .goal{
        flex: 0 1 40%;
    }
}
@media (max-width: 390px){
    .goal{
        flex: 0 1 80%;
    }
}
/*PARTNERS*/
.partners__container{
    margin: 0px auto 144px;
}
.partners__content{
    display: flex;
    flex-direction: column;
}
.partners__text{
    width: 40%;
    margin: 0 0 0 11%;
    text-align: start;
    color: #42434D;
}
.partners__text p{
    padding: 0px 0px 32px 0px;
}
.partners__row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 32px 0px 0px;
}
.partner{
    flex: 0 1 10%;
    padding: 10px 5px;
}
.partner img{
    object-fit: contain;
}
@media (max-width: 1024px){
    .partners__text{
        width: 80%;
    }
    .partners__row{
        flex-wrap: wrap;
    }
    .partner{
        flex: 0 1 30%;
    }
}
@media (max-width: 767.98px){
    .partners__text{
        width: 100%;
    }
    .partners__row{
        flex-direction: column;
        align-items: center;
    }
}
/*WHO*/
.who__container{
    margin: 0px auto 144px;
    width: 80%;
}
.who__content{
    display: flex;
    flex-direction: column;
}
.who__title{
    padding: 0px 0px 56px 0px;
}
.who__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.who__card{
    flex: 0 1 40%;
    padding: 0px 0px 56px 0px;
}
.card__svg{
    object-fit: contain;
}
.card__subtitle{
    color: #000;
    width: 70%;
    padding: 16px 0px 32px 0px;
}
.card__subtext{
    color: #42434D;
    width: 80%;
}
@media (max-width: 1024px){
    .who__card{
        flex: 0 1 50%;
    }
}
@media (max-width: 767.98px){
    .who__container{
        margin: 0px auto 56px;
    }
    .who__cards{
        flex-direction: column;
        margin: auto;
    }
    .card__subtext{
        width: 90%;
    }
}
/*FEEDBACK*/
.feedback__heading{
    margin: auto;
    width: 75%;
    text-align: center;
}
.feedback__heading .partner__title{
    color: #000;
    padding: 0px 0px 48px 0px;
    font-size: 3rem;
    line-height: 3.5rem;
}
.feedback__heading .partner__text{
    color: #000;
    padding: 0px 0px 64px 0px;
    font-size: 1rem;
    line-height: 2rem;
}
  @media (max-width: 1024px){
    .feedback__heading{
        margin: auto;
        width: 100%;
    }
  }
/*.............................................BLOG PAGE...........................................*/
/* FOOOTER*/
.footer{
	width: 100%;
}
.footer__container{
	padding: 0px 15px;
	display: flex;
	min-height: 64px;
	align-items: center;
	color: #006CA7;
	justify-content: space-between;
}
.footer__logo {
	padding-left: 160px;
}
.footer__logo img{
	height: 56px;
	padding: 4px 0px;
}
.footer__email{
	padding: 0px 160px 0px 0px;

}
@media (max-width: 1024px){
	.footer__content{
		width: 100%;
	}
	.footer__logo {
		padding-left: 0px;
	}
	.footer__email{
		padding: 0px 0px 0px 10px;
	
	}
}
